= table.id
= table.row :namespace
= table.row :key
= table.row :type
- if table.resource.type == "array"
  = table.association :values do |resource|
    - capture_haml do
      %ul
        - resource.values.each do |value|
          %li= resource.type == "password" ?  ("*" * 32) : value.content
- else
  = table.association :value, label_method: :content do |resource|
    - capture_haml do
      = resource.type == "password" ?  ("*" * 32) : resource.current_value
= table.row :default
= table.row :validations
