= link_to({ action: :index }, class: 'btn btn-light btn-circle btn-lg', title: t(".back")) do
  %i.fas.fa-arrow-left

.ml-auto
  = render partial: "show_actions_extras"

  - if Cmor::Core.features?(:cmor_audits) && available_rest_actions.include?(:versions)
    = link_to([:versions, resource_namespace, resource], class: 'btn btn-secondary btn-circle btn-lg', title: t(".history")) do
      %i.fas.fa-history

  - if available_rest_actions.include?(:destroy)
    = link_to([resource_namespace, resource], class: 'destroy btn btn-danger btn-circle btn-lg ml-1', method: :delete, title: t(".destroy"), 'data-confirm': I18n.t('administrador.controller.confirmations.destroy')) do
      %i.fas.fa-fire

  - if available_rest_actions.include?(:edit)
    = link_to([:edit, resource_namespace, resource], class: 'btn btn-success btn-circle btn-lg ml-1', title: t(".edit")) do
      %i.fas.fa-edit